@use 'fonts';

// PALETTE DE COULEURS 

$couleur_accent_pale: #f2e18d;
$couleur_accent_fonce: #d95a2b; 
$couleur_soutien: #440100;
$couleur_noir: #0b0b0b; 
$couleur_gris: #404040;
$couleur_blanc: #fefefe;

// FONTS

$font_regulier: 'Montserrat', sans-serif;